:root {
  --bg-color: #f7f9fc;
  --surface-color: #ffffff;
  --text-primary: #333333;
  --text-secondary: #666666;
  --primary-color: #55435c;
  --border-color: #e0e0e0;
  
  --color-expense: #b54d68;
  --color-investment: #e89d68;
  --color-savings: #433355;
  --color-income: #2ecc71;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --surface-color: #1e1e1e;
  --text-primary: #e0e0e0;
  --text-secondary: #aaaaaa;
  --primary-color: #7b6285;
  --border-color: #333333;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--text-primary);
  transition: background-color 0.3s, color 0.3s;
}

* {
  box-sizing: border-box;
}
